.col-name {
    width:30%;
}

.check-data {
    width:10%;
}

.spec-search {
    width:30%;
}

.range {
    width:30%;
}

#all-col-table-container {
    height:600px;
    overflow:scroll;
}

.normal-font-weight {
    font-weight:normal;
}
